docs/CPSInterface_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:req="http://api-v1.gen.mm.vodafone.com/mminterface/request" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api-v1.gen.mm.vodafone.com/mminterface/request" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="IdentityType">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="1000" id="Customer"/>
			<xs:enumeration value="2000" id="SPOperator"/>
			<xs:enumeration value="3000" id="OrganizationOperator"/>
			<xs:enumeration value="5000" id="Organization"/>
			<xs:enumeration value="6000" id="Till"/>
			<xs:enumeration value="8000" id="SP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdentifierType">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="1" id="MSISDN"/>
			<xs:enumeration value="2" id="TillNumber"/>
			<xs:enumeration value="3" id="SPShortCode"/>
			<xs:enumeration value="4" id="OrganizationShortCode"/>
			<xs:enumeration value="5" id="IdentityID"/>
			<xs:enumeration value="6" id="O2CLink"/>
			<xs:enumeration value="9" id="SPOperatorCode"/>
			<xs:enumeration value="10" id="POSNumber"/>
			<xs:enumeration value="11" id="OrganizationOperatorUserName"/>
			<xs:enumeration value="12" id="OrganizationOperatorCode"/>
			<xs:enumeration value="13" id="VoucherCode"/>
			<xs:enumeration value="14" id="SPOperatorUserName"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ParameterType">
		<xs:sequence>
			<xs:element name="Key" type="xs:string">
				<xs:annotation>
					<xs:documentation>It indicates a parameter name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:string">
				<xs:annotation>
					<xs:documentation>It indicates a parameter value.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Request">
		<xs:sequence>
			<xs:element name="Transaction">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CommandID">
							<xs:annotation>
								<xs:documentation>The unique identifier of transaction/business operation.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="64"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LanguageCode" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>It is reserved.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OriginatorConversationID">
							<xs:annotation>
								<xs:documentation>The unique identifier of the request message generated by third party. It is used to identify a request between the third party and MM.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="128"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ConversationID" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The unique identifier generated by MM for a previous request message. It is used to support communication multi-times between the third party and MM for one operation/transaction.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Remark" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The remark information about this operation.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="EncryptedParameters" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>It is used to carry the value for the element Parameters which are encrypted. 
The value for this parameter should be a CDATA.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Parameters" minOccurs="0">
							<xs:annotation>
								<xs:documentation>It is used to carry specific parameters for specific transaction or business operation.
If the element EncryptedParameters presents, this parameter should not present.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Parameter" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="req:ParameterType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ReferenceData" minOccurs="0">
							<xs:annotation>
								<xs:documentation>It is used carry some reference data that MM need not analyze but need to record it into transaction log.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ReferenceItem" type="req:ParameterType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Timestamp" type="xs:string">
							<xs:annotation>
								<xs:documentation>The timestamp generated by the third party. MM just  logs it . </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Identity">
				<xs:annotation>
					<xs:documentation>This section is used to specify all identities involved in the request</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Caller">
							<xs:annotation>
								<xs:documentation>It indicates the third party which initiates the request</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CallerType" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Indicates the type of the caller:
2-APICaller
3-Other(Reserved)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ThirdPartyID">
										<xs:annotation>
											<xs:documentation>The unique identifier of a third party system defined in MM. It indicates the third party which initiates the request.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Password" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>This security credential of the ThirdPartyID defined in MM. If the password feature for third party is used in MM, then this parameter must be presented in the request message.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CheckSum" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Currently it is unused. It is reserved for API security .</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ResultURL" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>It indicates the destination URL where MM should send the result message to. If the third party needs MM to send the result, this parameter must be presented in the request message.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Initiator">
							<xs:annotation>
								<xs:documentation>It indicates the identity who makes the request</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="IdentifierType" type="req:IdentifierType">
										<xs:annotation>
											<xs:documentation>It indicates the identifier type of the initiator. The value of this parameter must be a valid identifier type supported by MM.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Identifier" type="xs:string">
										<xs:annotation>
											<xs:documentation>It indicates the identifier of the initiator. Its value must match the inputted value of the parameter IdentifierType.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SecurityCredential" type="xs:string">
										<xs:annotation>
											<xs:documentation>It indicates the security credential of the initiator. Its value must match the inputted value of the parameter IdentifierType.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ShortCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation>When the initiator is an organization operator, this parameter must be present in the request to indicate which organization the operator belongs to.
If the initiator is not an organization operator, this parameter should not be present.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PrimartyParty" minOccurs="0">
							<xs:annotation>
								<xs:documentation>If business operation/action, this element is not present; if transaction, this can be either the debit party or the credit party according to the transaction type.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="IdentifierType" type="req:IdentifierType">
										<xs:annotation>
											<xs:documentation>It indicates the identifier type of the primary party. The value of this parameter must be a valid identifier type supported by MM and must match the inputted value of the parameter IdentityType.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Identifier" type="xs:string">
										<xs:annotation>
											<xs:documentation>It indicates the identifier of the primary party. Its value must match the inputted value of the parameter IdentifierType.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ShortCode" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>It is reservedd</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ReceiverParty" minOccurs="0">
							<xs:annotation>
								<xs:documentation>If business operation/action, this is the affected party; if transaction, it is the opposite party to the PrimaryParty</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="IdentifierType" type="req:IdentifierType">
										<xs:annotation>
											<xs:documentation>It indicates the identifier type of the recipient party. The value of this parameter must be a valid identifier type supported by MM.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Identifier" type="xs:string">
										<xs:annotation>
											<xs:documentation>It indicates the identifier of the recipient party. Its value must match the inputted value of the parameter IdentifierType.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ShortCode" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>When the receiver party is an organization operator or a Till, this parameter must be present in the request to indicate which organization the receiver party belongs to.
If the receiver party is not an organization operator or a Till, this parameter should not be present.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="AccessDevice" minOccurs="0">
							<xs:annotation>
								<xs:documentation>It indicates the access device which the initiator uses to initiate the request.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="IdentifierType" type="req:IdentifierType">
										<xs:annotation>
											<xs:documentation>It indicates the identifier type of the access device.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Identifier" type="xs:string">
										<xs:annotation>
											<xs:documentation>It indicates the identifier of the access device. Its value must match the inputted value of parameter IdentifierType</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KeyOwner" type="xs:integer">
				<xs:annotation>
					<xs:documentation>It indicates which Key is used to encrypt the elements Initator.SecurityCredential and the EncryptedParameters.
Its value are enumerated as follows:
1:the API Caller's Key
2:the Initiator's Key
 </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="request" type="req:Request"/>
</xs:schema>
