docs/CPSInterface_Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:response="http://api-v1.gen.mm.vodafone.com/mminterface/response" targetNamespace="http://api-v1.gen.mm.vodafone.com/mminterface/response" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="Response">
		<xs:sequence>
			<xs:element name="ResponseCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>It indicates whether MM accepts the request or not.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResponseDesc" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Its value is a description for the parameter ResultCode.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConversationID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The unique identifier generated by M-Pesa for the request message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginatorConversationID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The unique identifier generated by the third party for the request message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceStatus" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>It indicates the MM service status.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="response" type="response:Response"></xs:element>
</xs:schema>
